.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.col-headers {
  font-weight: bold;
}

.Search-header {}

.search-button {
  position: absolute;
  top: 50%;
  transform: translateY(-33%);
}

.results-thumbnail-size {
  width: 26%;
  height: auto;
}

.reading-list-thumbnail {
  width: 45%;
  height: auto;
}

.add-button {
  height: 51%;
  width: auto;
  font-size: 54%;
  padding: inherit;
}

.reading-list-header {
  font-weight: bold;
  padding-top: 20px;
  display: block;
}

.row-formatting {
  padding-top: 1%;
  padding-bottom: 1%;
}
